*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 15px;
}

body{
    background-color: hsl(0, 0%, 95%);
    margin: auto;
    
}

main{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.left-content{
background-color: hsl(31, 77%, 52%) ;
padding: 20px;
width: 100%;
height: 50%;
border-top-left-radius: 0.2cm;
border-bottom-left-radius: 0.2cm;
overflow: clip;
margin: auto;

}

.middle-content{
    background-color:hsl(184, 100%, 22%) ;
   padding: 20px;
    width: 100%;
    height: 50%;
    overflow: clip;
    margin: auto;

}

.right-content{
background-color: hsl(179, 100%, 13%) ;
padding: 20px;
width: 100%;
height: 50%;
border-top-right-radius: 0.2cm;
border-bottom-right-radius: 0.2cm;
overflow: clip;
margin: auto;

}

p{ 
  font-family: Lexend Deca;
   font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 30px;
  max-height: 50%;
   
}

h3{
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;

}

.btn1{
color: hsl(31, 77%, 52%);
border-radius: 0.5cm;
border-color:  hsl(0, 0%, 95%);
background-color: hsl(0, 0%, 95%) ;
border: solid;
padding: 10px;
margin: auto;
font-family: Lexend Deca;
font-weight: 400;
}


.btn2{
color: hsl(184, 100%, 22%);
border-radius: 0.5cm;
border-color:  hsl(0, 0%, 95%);
background-color: hsl(0, 0%, 95%) ;
border: solid;
padding: 10px;
margin: auto;
font-family: Lexend Deca;
font-weight: 400;
}

.btn3{
color: hsl(179, 100%, 13%);
border-radius: 0.5cm;
border-color:  hsl(0, 0%, 95%);
background-color: hsl(0, 0%, 95%) ;
border: solid;
padding: 10px;
margin: auto;
font-family: Lexend Deca;
font-weight: 400;
}


.btn{
background-color: none;
border-radius: 0.5cm;
padding: 5px;
border-color:  hsl(0, 0%, 95%);
color: hsl(0, 0%, 95%) ;
border: solid;
  font-family: Lexend Deca;
   font-weight: 400;
}